
@{
    ViewBag.Title = "Index";
}

<h3>Пути:</h3><br />
<h4>Home/GetData</h4><h5>(long wellboreId, DateTime startTime, DateTime? endTime, List&lt;Parameter&gt; parameters)</h5><br />
<h4>Home/GetParameters</h4><br />
<h4>Home/GetWellbores</h4><h5>(DateTime startTime, DateTime endTime)</h5><br />
<h4>Home/GetWellboreStates</h4><br />
<h4>Home/GetUnits</h4><br /> 

